$slides: 5; //number of slides
%mar-pad-0 {
  padding: 0;
  margin: 0;
}
%t-l-r-b-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
%arrows {
  display: inline-block;
  border-top: 9px solid gray;
  width: 30px;
  height: 25px;
  position: absolute;
  top: 48%;
  @extend %mar-pad-0;
  z-index: 10;
}
html, body {
  @extend %mar-pad-0;
  #slide-show-holder {
    width: 70%;  //CHANGE THIS TO CHANGE THE RESPONSIVE WIDTH
    margin: 0 auto;
    display: block;
    .arrows {
      position: absolute;
      top: 45%;
      left: 0;
      display: none;
      width: 100%;
      .back {
        @extend %arrows;
        border-left: 10px solid gray;
        transform: rotate(-64deg) skewX(-30deg);
        left: 2%;
        opacity: .5;
        &:hover {opacity: .8;}
      }
      .next {
        @extend %arrows;
        border-right: 10px solid gray;
        transform: rotate(64deg) skewX(30deg);
        right: 2%;
        opacity: .5;
        &:hover {opacity: .8;}
      }
    }
    #slide-show {
      width: 100%;  //LEAVE THIS ONE ALONE THOUGH
      padding-top: 75%; //CHANGE THIS TO CHANGE ASPECT RATIO
      margin: 0 auto;
      text-align: center;
      position: relative;
      overflow: hidden;
      text-align: center;
      vertical-align: bottom;
      [type="radio"] {
        display: none;
      }   
      #f-buttons { //f-buttons holds the labels that look like buttons hence, fake
        position: absolute;
        bottom: 7px;
        width: 100%;
        height: 14px;
        @extend %mar-pad-0;
        .fake-button {
          position: relative;
          display: inline-block;
          border-radius: 50%;
          width: 14px;
          height: 14px;
          margin: 0 3px;
          padding: 0;
          z-index: 4;
          background-color: gray;
          &:hover {background-color: #aaa;}
        }
      }
      #track {
        position: absolute;
        @extend %t-l-r-b-0;
        @extend %mar-pad-0;
        transition: transform .5s ease 0s;
      }
    }
  }
}
@for $i from 1 through $slides {
  #s-#{$i}:checked~#track {  //moves the track itself
    transform: translateX(percentage(-($i - 1)));
  }
  #s-#{$i}:checked~#f-buttons .fake-button#b-#{$i} { //highlights current slide button
    background-color: #ccc;
  }
  #s-#{$i}:checked~.arrows:nth-of-type(#{$i}) { //makes the correct arrows visible
    display: block;
  }
  .slide:nth-of-type(#{$i}) { //styles each slide and puts it in the right spot on the track
    @extend %mar-pad-0;
    @extend %t-l-r-b-0;
    background: url("../images/#{$i}.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateX(percentage(($i - 1)));
  }
}